# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/

# Virtual Environment
venv/
.venv/
env/
ENV/

# =========================
# FastAPI / Uvicorn
# =========================
*.log
uvicorn.log

# =========================
# Environment Variables
# =========================
.env
.env.*
!.env.example

# =============
